#nav-bar {
  position: fixed;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

#nav-bar ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
#nav-bar ul li a:hover {
  background-color: #555;
  color: white;
}

/* Change the link color on active */
#nav-bar ul li a:active {
  background-color: green;
  color: white;
}
